---
layout: default
title: About
permalink: /about/
---

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            {{ site.data.resume.basics.name}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>About me</h3>
            <ul>
                {% for item in site.data.resume.basics.summary %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Work Experience</h3>
            {% for workplace in site.data.resume.work %}
            <section>
                <h4><a href="{{workplace.website}}">{{ workplace.company }}</a> <small>{{ workplace.startDate | date: '%B %Y' }} to {{ workplace.endDate | date: '%B %Y' }}</small></h4>
                <p><strong>Position:</strong> {{ workplace.position }}</p>
                <p><strong>Description:</strong> {{ workplace.summary }}</p>
                <ul>
                    {% for highlight in workplace.highlights %}
                    <li>{{ highlight }}</li>
                    {% endfor %}
                </ul>
            </section>
            {% endfor %}
        </div>
    </div>
</div>








