---
layout: default
---

<div id="main" class="container">
    <div class="row vertical-align">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
            <h1>{{ site.title }}</h1>
            <h3>Software Developer</h3>
            <p><a href="mailto:{{ site.email }}">{{ site.email }}</a> | {{ site.phone_number }}</p>
            <ul class="list-unstyled list-inline">
                {% if site.github_username %}
                <li>
                    {% include icon-github.html username=site.github_username %}
                </li>
                {% endif %}

                {% if site.twitter_username %}
                <li>
                    {% include icon-twitter.html username=site.twitter_username %}
                </li>
                {% endif %}

                {% if site.linkedin_username %}
                <li>
                    {% include icon-linkedin.html username=site.linkedin_username %}
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>
