<section class="col-md-3 card-wrapper profile-card-wrapper affix">
    <div class="card profile-card">
        <span class="profile-pic-container">
            <div class="profile-pic"><img data-src="holder.js/100x100"
                                          alt="{{ site.data.resume.basics.name }}"
                                          src="{{ site.data.resume.basics.picture }}"
                                          itemprop="image"
                                          class="media-object img-circle center-block"/></div><div
                class="name-and-profession text-center"><h3 itemprop="name"><b>{{ site.data.resume.basics.name }}</b></h3><h5
                itemprop="jobTitle"
                class="text-muted">{{ site.data.resume.basics.label }}</h5></div></span>
        <hr/>
        <div class="contact-details clearfix">
            <div class="detail">
                <span class="icon">
                    <i class="icon fs-lg icon-location"></i></span>
                <span class="info">
                    {{ site.data.resume.basics.location.address }},
                    {{ site.data.resume.basics.location.city }},
                    {{ site.data.resume.basics.location.region }},
                    {{ site.data.resume.basics.location.countryCode }},
                    {{ site.data.resume.basics.location.postalCode }}
            </span>
            </div>
            <div class="detail"><span class="icon"><i
                    class="icon fs-lg icon-phone"></i></span><span
                    itemprop="telephone"
                    class="info">{{ site.data.resume.basics.phone }}</span>
            </div>
            <div class="detail">
                <span class="icon"><i class="icon fs-lg icon-mail"></i></span>
                <span class="info">
                    <a href="mailto:{{ site.data.resume.basics.email }}"
                       itemprop="email"
                       class="link-disguise">
                        {{ site.data.resume.basics.email }}
                </span>
            </div>
            <div class="detail">
                <span class="icon"><i
                        class="icon fs-lg icon-link"></i></span><span
                    class="info"><a href="{{ site.data.resume.basics.website }}"
                                    target="_blank">{{ site.data.resume.basics.website }}</a></span>
            </div>
        </div>
        <hr/>
        <div class="social-links text-center">
            <div>
                {% for profile in site.data.resume.basics.profiles %}
                <a href="{{ profile.url }}"
                   target="_blank" data-toggle="tooltip"
                   title="{{ site.data.resume.basics.name }} on {{ profile.network }}"
                   class="fs-2x social-link link-{{ profile.network | downcase }} icon-{{ profile.network | downcase }}"></a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>