html, body{
    height: 100%;
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;

        path {
            fill: #111;
        }
    }


    &.icon--linkedin{
        > svg {
            height: 35px;
            width: 35px;
        }
    }

}

#main.container{
    height: 100%;
}

.vertical-align {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}